# Project based files
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

*.DS_Store

# Thumbnails
._*

# Compiled class file
*.class

# Package files
*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Allure
.allure
/allure-results/
/allure-report/